<div class="row p-4">
    <h5>Hard & soft skills</h5>
    <div class="text-center col-md-4">
        <circle-progress 
            [percent]="85" 
            [radius]="80" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300"
            [showUnits]="false"
            [title]="'SKILL'"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-md-4">
        <circle-progress 
            [percent]="85" 
            [radius]="80" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300"
            [showUnits]="false"
            [title]="'SKILL'"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-md-4">
        <circle-progress 
            [percent]="85" 
            [radius]="80" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300"
            [showUnits]="false"
            [title]="'SKILL'"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-md-4">
        <circle-progress 
            [percent]="85" 
            [radius]="80" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300"
            [showUnits]="false"
            [title]="'SKILL'"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-md-4">
        <circle-progress 
            [percent]="85" 
            [radius]="80" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300"
            [showUnits]="false"
            [title]="'SKILL'"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-md-4">
        <circle-progress 
            [percent]="85" 
            [radius]="80" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300"
            [showUnits]="false"
            [title]="'SKILL'"
            [showSubtitle]="false"
        ></circle-progress>
    </div>   
</div>
