<div class="row p-3">
    <h5>Educacion</h5>
    <div class="col-lg-11">
        <ul>
            <li>
                <h5>Educaion 1</h5>
                <h6>fecha inicio - fecha fin</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, minus!</p>
            </li>
            <li>
                <h5>Educacion 2</h5>
                <h6>fecha inicio - fecha fin</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, minus!</p>
            </li>
        </ul>
    </div>
</div>
